In [37]:
import pandas as pd
import numpy as np

In [38]:
df = pd.read_csv(r'D:\work\Data/Statistics_YouTube.csv')

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40964 entries, 0 to 40963
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   video_id           40964 non-null  object
 1   trending_date      40949 non-null  object
 2   title              40949 non-null  object
 3   channel_title      40949 non-null  object
 4   category_id        40962 non-null  float64
 5   publish_time       40949 non-null  object
 6   tags               40949 non-null  object
 7   views              40949 non-null  float64
 8   likes              40949 non-null  float64
 9   dislikes           40949 non-null  float64
 10  comment_count      40949 non-null  float64
 11  thumbnail_link     40949 non-null  object
 12  comments_disabled  40949 non-null  object
 13  max_views          15 non-null     float64
 14  max_likes          15 non-null     float64
 15  max_dislikes       15 non-null     float64
 16  max_comment_count  15 non-null     float64
dtypes: float64(9), object(8)
memory usage: 5.3+ MB

In [47]:
data = pd.read_csv(r'D:\adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [49]:
# 1. How many men and women (sex feature) are represented in this dataset?
data.sex.value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [51]:
# 2. What is the average age (age feature) of women?
data.loc[data.sex == 'Female'].age.mean()

36.85823043357163

In [59]:
# 3. What is the percentage of German citizens (native-country feature)?
df1 = data.loc[data['native-country'] == 'Germany']
(len(df1)/len(data))*100

0.42074874850281013

In [55]:
data['native-country'].describe()

count             32561
unique               42
top       United-States
freq              29170
Name: native-country, dtype: object

In [66]:
int(data["salary"][0][2])

5

In [67]:
data["salary"]

0        <=50K
1        <=50K
2        <=50K
3        <=50K
4        <=50K
         ...
32556    <=50K
32557     >50K
32558    <=50K
32559    <=50K
32560     >50K
Name: salary, Length: 32561, dtype: object

In [69]:
# 4-5. What are the mean and standard deviation of age for those who earn more than 50K per year 
#         (salary feature) and those who earn less than 50K per year?
# data.loc[data.salary]
data[data['salary'].apply(lambda salary: int(salary[2]) >= 5)].head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [79]:
data['salary'].describe()

count     32561
unique        2
top       <=50K
freq      24720
Name: salary, dtype: object

In [70]:
data[data['salary'].apply(lambda salary: int(salary[2]) >= 5)].age.mean()

36.78373786407767

In [71]:
data[data['salary'].apply(lambda salary: int(salary[2]) <= 5)].age.mean()

38.58164675532078

In [76]:
def mean(data):
    n = len(data)
    mean = sum(data) / n
    return mean
def variance(data):
    n = len(data)
    mean = sum(data) / n
    deviations = [(x - mean) ** 2 for x in data]
    variance = sum(deviations) / n
    return variance
def stdev(data):
    import math
    var = variance(data)
    std_dev = math.sqrt(var)
    return std_dev

In [77]:
stdev(data[data['salary'].apply(lambda salary: int(salary[2]) >= 5)].age)

14.019804910115214

In [78]:
stdev(data[data['salary'].apply(lambda salary: int(salary[2]) <= 5)].age)

13.640223092304081