In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'D:\work\Data/Statistics_YouTube.csv')

C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40964 entries, 0 to 40963
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   video_id           40964 non-null  object
 1   trending_date      40949 non-null  object
 2   title              40949 non-null  object
 3   channel_title      40949 non-null  object
 4   category_id        40962 non-null  float64
 5   publish_time       40949 non-null  object
 6   tags               40949 non-null  object
 7   views              40949 non-null  float64
 8   likes              40949 non-null  float64
 9   dislikes           40949 non-null  float64
 10  comment_count      40949 non-null  float64
 11  thumbnail_link     40949 non-null  object
 12  comments_disabled  40949 non-null  object
 13  max_views          15 non-null     float64
 14  max_likes          15 non-null     float64
 15  max_dislikes       15 non-null     float64
 16  max_comment_count  15 non-null     float64
dtypes: float64(9), object(8)
memory usage: 5.3+ MB

In [4]:
data = pd.read_csv(r'D:\adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
# 1. How many men and women (sex feature) are represented in this dataset?
data.sex.value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [6]:
# 2. What is the average age (age feature) of women?
data.loc[data.sex == 'Female'].age.mean()

36.85823043357163

In [7]:
# 3. What is the percentage of German citizens (native-country feature)?
df1 = data.loc[data['native-country'] == 'Germany']
(len(df1)/len(data))*100

0.42074874850281013

In [8]:
data['native-country'].describe()

count             32561
unique               42
top       United-States
freq              29170
Name: native-country, dtype: object

In [9]:
int(data["salary"][0][2])

5

In [10]:
data["salary"]

0        <=50K
1        <=50K
2        <=50K
3        <=50K
4        <=50K
         ...
32556    <=50K
32557     >50K
32558    <=50K
32559    <=50K
32560     >50K
Name: salary, Length: 32561, dtype: object

In [24]:
# 4-5. What are the mean and standard deviation of age for those who earn more than 50K per year 
#         (salary feature) and those who earn less than 50K per year?
# data.loc[data.salary]
data[data['salary'].apply(lambda salary: salary[0]) != '>'].head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [12]:
data['salary'].describe()

count     32561
unique        2
top       <=50K
freq      24720
Name: salary, dtype: object

In [19]:
data[data['salary'].apply(lambda salary: salary[0]) != '<'].age.mean()

44.24984058155847

In [20]:
data[data['salary'].apply(lambda salary: salary[0]) != '>'].age.mean()

36.78373786407767

In [15]:
def mean(data):
    n = len(data)
    mean = sum(data) / n
    return mean
def variance(data):
    n = len(data)
    mean = sum(data) / n
    deviations = [(x - mean) ** 2 for x in data]
    variance = sum(deviations) / n
    return variance
def stdev(data):
    import math
    var = variance(data)
    std_dev = math.sqrt(var)
    return std_dev

In [21]:
stdev(data[data['salary'].apply(lambda salary: salary[0]) != '<'].age)

10.518356927661575

In [23]:
stdev(data[data['salary'].apply(lambda salary: salary[0]) != '>'].age)

14.019804910115214

In [ ]:
# 6. Is it true that people who earn more than 50K have at least high school education? 
# (education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

In [28]:
data[data['salary'].apply(lambda salary: salary[0]) != '<'].education.value_counts()

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

In [35]:
# 7. Find the maximum age of men of Amer-Indian-Eskimo race. 
data.loc[data.race == 'Amer-Indian-Eskimo'].age.max()

82

In [ ]:
# 8. Among whom is the proportion of those who earn a lot (>50K) greater: 
#     married or single men (marital-status feature)? Consider as married 
#     those who have a marital-status starting with Married 
#     (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [38]:
data[data['salary'].apply(lambda salary: salary[0]) != '<']['marital-status'].describe()

count                   7841
unique                     7
top       Married-civ-spouse
freq                    6692
Name: marital-status, dtype: object

In [ ]:
# 9. What is the maximum number of hours a person works per week (hours-per-week feature)?
#     How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [39]:
data['hours-per-week'].max()

99

In [41]:
len(data.loc[data['hours-per-week'] == 99])

85

In [48]:
len(data.loc[data['hours-per-week'] == 99]['salary'].apply(lambda salary: salary[0]) != '<')

85

In [50]:
85/len(data)*100

0.261048493596634

In [ ]:
# 10. Count the average time of work (hours-per-week) for those who earn 
#     a little and a lot (salary) for each country (native-country). What will these be for Japan?

In [55]:
data.loc[(data['native-country'] == 'Japan')]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
1020,41,Private,198316,Some-college,10,Never-married,Craft-repair,Not-in-family,White,Male,0,0,50,Japan,<=50K
1119,53,Private,288020,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,Japan,<=50K
1301,29,Private,419721,HS-grad,9,Never-married,Other-service,Unmarried,Black,Female,0,0,40,Japan,<=50K
1368,52,Private,152234,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,99999,0,40,Japan,>50K
1756,47,Self-emp-not-inc,162924,Bachelors,13,Divorced,Exec-managerial,Not-in-family,Asian-Pac-Islander,Male,0,0,60,Japan,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31757,34,Private,143582,Some-college,10,Never-married,Adm-clerical,Not-in-family,Asian-Pac-Islander,Female,0,0,35,Japan,<=50K
31830,33,Private,72338,Prof-school,15,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,65,Japan,>50K
32075,27,?,147638,Masters,14,Never-married,?,Not-in-family,Other,Female,0,0,40,Japan,<=50K
32376,40,Private,306225,HS-grad,9,Divorced,Craft-repair,Not-in-family,Asian-Pac-Islander,Female,0,0,40,Japan,<=50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K

'<=50K'