In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv(r'D:\adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [7]:
# 1. How many men and women (sex feature) are represented in this dataset?
data.sex.value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [8]:
# 2. What is the average age (age feature) of women?
data.loc[data.sex == 'Female'].age.mean()

36.85823043357163

In [9]:
# 3. What is the percentage of German citizens (native-country feature)?
df1 = data.loc[data['native-country'] == 'Germany']
(len(df1)/len(data))*100

0.42074874850281013

In [10]:
data['native-country'].describe()

count             32561
unique               42
top       United-States
freq              29170
Name: native-country, dtype: object

In [11]:
int(data["salary"][0][2])

5

In [12]:
data["salary"]

0        <=50K
1        <=50K
2        <=50K
3        <=50K
4        <=50K
         ...
32556    <=50K
32557     >50K
32558    <=50K
32559    <=50K
32560     >50K
Name: salary, Length: 32561, dtype: object

In [13]:
# 4-5. What are the mean and standard deviation of age for those who earn more than 50K per year 
#         (salary feature) and those who earn less than 50K per year?
# data.loc[data.salary]
data[data['salary'].apply(lambda salary: salary[0]) != '>'].head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [14]:
data['salary'].describe()

count     32561
unique        2
top       <=50K
freq      24720
Name: salary, dtype: object

In [15]:
data[data['salary'].apply(lambda salary: salary[0]) != '<'].age.mean()

44.24984058155847

In [16]:
data[data['salary'].apply(lambda salary: salary[0]) != '>'].age.mean()

36.78373786407767

In [17]:
def mean(data):
    n = len(data)
    mean = sum(data) / n
    return mean
def variance(data):
    n = len(data)
    mean = sum(data) / n
    deviations = [(x - mean) ** 2 for x in data]
    variance = sum(deviations) / n
    return variance
def stdev(data):
    import math
    var = variance(data)
    std_dev = math.sqrt(var)
    return std_dev

In [18]:
stdev(data[data['salary'].apply(lambda salary: salary[0]) != '<'].age)

10.518356927661575

In [19]:
stdev(data[data['salary'].apply(lambda salary: salary[0]) != '>'].age)

14.019804910115214

In [20]:
# 6. Is it true that people who earn more than 50K have at least high school education? 
# (education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

In [21]:
data[data['salary'].apply(lambda salary: salary[0]) != '<'].education.value_counts()

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

In [22]:
# 7. Find the maximum age of men of Amer-Indian-Eskimo race. 
data.loc[data.race == 'Amer-Indian-Eskimo'].age.max()

82

In [23]:
# 8. Among whom is the proportion of those who earn a lot (>50K) greater: 
#     married or single men (marital-status feature)? Consider as married 
#     those who have a marital-status starting with Married 
#     (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [24]:
data[data['salary'].apply(lambda salary: salary[0]) != '<']['marital-status'].describe()

count                   7841
unique                     7
top       Married-civ-spouse
freq                    6692
Name: marital-status, dtype: object

In [25]:
# 9. What is the maximum number of hours a person works per week (hours-per-week feature)?
#     How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [26]:
data['hours-per-week'].max()

99

In [27]:
len(data.loc[data['hours-per-week'] == 99])

85

In [40]:
df_hours = data.loc[data['hours-per-week'] == 99]
len(df_hours[df_hours['salary'].apply(lambda salary: salary[0]) != '<'])/len(df_hours)*100

29.411764705882355

In [30]:
# 10. Count the average time of work (hours-per-week) for those who earn 
#     a little and a lot (salary) for each country (native-country). What will these be for Japan?

In [32]:
data1 = data.loc[(data['native-country'] == 'Japan')]

In [36]:
data1[data1['salary'].apply(lambda salary: salary[0]) != '<']['hours-per-week'].mean()

47.958333333333336

In [38]:
data2 = data.loc[(data['native-country'] == 'Japan')]

In [39]:
data2[data2['salary'].apply(lambda salary: salary[0]) != '>']['hours-per-week'].mean()

41.0